<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
          integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Daniel Sanches</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#toggleMobileMenu" data-bs-offset="0" tabindex="0">
    <!-- ==== Header ==== -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light" id="header">
            <div class="container">
                <a class="navbar-brand" href="">
                    &lt;h5&gt;Daniel&lt;/h5&gt;
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
                        aria-controls="toggleMobileMenu" aria-expanded="false" aria-table="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a href="#hero" aria-current="page" class="nav-link active">Início</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- ==== End Header ==== -->
    @RenderBody()

    <footer id="footer" style="padding: 1.5rem !important;">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="text-center text-lg-end">
                    <a href="https://twitter.com/daniel21063" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>

                    <a href="https://github.com/danielpereira21063" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/daniel-pereira-sanches-0a1ba0210/" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==== End footer ====  -->
    <!-- ==== Dark/Light mode button === -->
    <button id="theme">
        <i class="bi bi-moon-fill"></i>
        <i class="bi bi-brightness-high-fill"></i>
    </button>

    <script type="module" src="./js/contact.js"></script>
    <script type="module" src="./js/curtain.js"></script>
    <script type="module" src="./js/themes.js"></script>
    <script type="module" src="./js/typed.js"></script>
</body>

</html>