@{
    Layout = "_Layout";
}

<!--===== HOME =====-->
<section class="home bd-grid" id="home">
    <div class="home__data">
        <h1 class="home__title">
            Olá,<br>me chamo <span class="home__title-color">Daniel.</span><br>Sou Desenvolvedor<br>FullStack.
        </h1>

        <a href="/docs/CV_2022103118365856.pdf" target="_blank" class="button">Baixar CV</a>
    </div>

    <div class="home__social">
        <a href="https://www.linkedin.com/in/daniel-pereira-sanches-0a1ba0210/" target="_blank" class="home__social-icon">
            <i class='bx bxl-linkedin'></i>
        </a>
        <a href="https://github.com/danielpereira21063" target="_blank" class="home__social-icon">
            <i class='bx bxl-github'></i>
        </a>
        <a href="mailto:danielsanches6301@gmail.com?subject=Olá, Daniel" target="_blank" class="home__social-icon">
            <i class='bx bx-envelope'></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=5522999668032&text=Ol%C3%A1%2C%20tudo%20bem%3F" target="_blank"
           class="home__social-icon"> <i class='bx bx-phone'></i></a>
    </div>

    <div class="home__img">
        <img class="programming_gif home__blob" src="/gif/programming.gif">
    </div>
</section>

<!--===== ABOUT =====-->
<section class="about section " id="about">
    <h2 class="section-title">Sobre mim</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="/img/about.jpg" alt="">
        </div>

        <div>
            @*<h2 class="about__subtitle">Me chamo Daniel.</h2>*@
            <p>
                Sou um desenvolvedor Full-Stack. Gosto muito de tecnologia.
            </p>
            <p>
                Sou uma pessoa apaixonada que persegue seus sonhos, que trabalha
                duro e que é orientado para resultados. Aliás, eu
                trabalho constantemente para me aprimorar buscando alcançar o
                melhor versão de mim mesmo.
            </p>

            <h5 class="text-center">Pontos importantes!</h5>
            <p>&#x2022; Crio sites usando HTML, CSS, JavaScript e outros frameworks e bibliotecas.</p>

            <p>
                &#x2022; Domino bem o framework de desenvolvimento .NET (.NET Core) e os principais conceitos de DDD e
                Clean Arch usando o padrão MVC.
            </p>

            <p>
                &#x2022; Passo a maioria dos dias aprendendo e construindo. Sou autoditada, aprendi programação por
                conta própria.
            </p>

            <p>
                &#x2022; Após atuar no mercado como desenvolvedor,
                decidi começar a fazer o curso de graduação técnologia Análise e desenvolvimento de sistemas
                fornecido pela Universidade Estácio de Sá. Atualmente, no dia de hoje (06/08/2022), estou cursando o 3°
                semestre.
            </p>

            <p>
                &#x2022; Não sou fluente em inglês, mas domino bem o idioma, sabendo ler e interpretar textos e a
                entender conversações sem muita dificuldade.
            </p>
        </div>
    </div>
</section>

<!--===== SKILLS =====-->
<section class="skills section" id="skills">
    <h2 class="section-title">Skills</h2>

    <div class="skills__container bd-grid">
        <div>
            <h2 class="skills__subtitle">Competências</h2>
            <p class="skills__text">
                Busco sempre me aperfeiçoar em minhas hard skills, desta forma sempre estou aprendendo
                uma nova tecnológia e implementando em meus projetos para fixar os conceitos.
            </p>

            <div class="skills__data">
                <div class="skill__content">
                    <img src="/img/stack-icons/html.svg">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/css.svg" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/bootstrap.svg" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/javascript.svg" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/c-sharp.png" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/dotnet.png" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/php.png" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/angular.png" alt="">
                </div>
                <div class="skill__content">
                    <img src="/img/stack-icons/jQuery.svg" alt="">
                </div>
            </div>
        </div>

        <div>
            <img src="/img/skills.jpg" alt="" class="skills__img">
        </div>
    </div>
</section>

<!--===== WORK =====-->
<section class="work section" id="work">
    <h2 class="section-title">Projetos</h2>

    <div class="work__container bd-grid">

        <div class="work__img" style="cursor: pointer">
            <h3 style="text-align: center">Minha rede social</h3>
            <img src="https://danielsanchesdev.com.br/img/portfolio/my-social-network.png" alt="" onclick="redirectTo('social-network.danielsanchesdev.com.br')">
            <div class="work__description">
                <a target="_blank" href="https://github.com/danielpereira21063/MySocialNetworkWeb"><i class="bx bxl-github"></i></a>
                <small style="display: block;">Descrição projeto</small>
            </div>
        </div>

    </div>
</section>